body {
    margin: 0;
    text-align: center;
}
.body-c{
     background-color:#1B244A;
     width:575px;
     height:385px;
}
.container {
    display: flex;
    justify-content: space-around;
}
.container h3{
    color: #EEEEEE;
    font-family: Verdana;
    font-weight: 700;
    font-size: 40px;
    line-height: 35.89px;
    margin:40px 0px 25px 0px;
    width:149px;
    height:36px;
    }

.container p{
    background-color:#080001 ;
    color:#F94F6D;
    width: 155;
    height: 120;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    margin:0px 0px 0px 0px;

}

.button1 button{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border:2px solid #9AABD8;
    color: #9AABD8;
    width: 45;
    height: 45;
    top: 271px;
    left: 136px;
    border-radius: 5px;
    font-weight: 400;
    line-height: 27.81px;
    text-align: center;
    margin:20px 0px;
    padding:5px 10px;
}
.button1{
    display: flex;
    justify-content: space-between;
    

}
#new-game button{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border:2px outset #9AABD8;
    color: white;
    width: 150px;
    height: 45px;
    top: 271px;
    left: 136px;
    border-radius: 5px;
    font-weight: 400;
    line-height: 27.81px;
    text-align: center;
    margin:5px 0px;
    padding:5px 10px;
}

#new-game button:hover{
    background-color: #697BC9;
    text-shadow: 0 0 3px black;
    border:0;
    cursor: pointer;
}
